.header {
    text-align: center;
    font-size: 25px;
    background-color: darkslategrey;
    color: darkorange;
    font-weight: bold;
    font-family: Padauk Book;
    /*background-image:*/
            /*linear-gradient(180deg,*/
            /*,*/
            /*darkslategrey);*/
}

.b{
    text-align: center;
    color: darkorange;
    font-size: 30px;
    align:  center;
}

.tlo {
    background-color: darkslategrey;
}

.table{
    font-size: 20px;
    text-align: center;
    color: darkorange;
    border: 2px solid darkorange;
    padding: 10px 10px;

}

.table2{
    font-size: 15px;
    text-align: center;
    color: darkorange;
    border: 2px solid darkorange;
    padding: 10px 10px;

}

.nazwa {
    font-size: 45px;
    font-family: Chilanka;
}

.a {
    text-align: center;
    font-size: 25px;
    background-color: darkslategrey;
    color: greenyellow;
    font-weight: bold;

}



.footer {
    text-align: right;
    font-size: 16px;
    background-color: darkslategrey;
    color: darkorange;

}

.form {
    text-align: center;
    font-size: 20px;
    background-color: darkslategrey;
    color: greenyellow;

}

.form2 {
    text-align: center;
    font-size: 20px;
    background-color: goldenrod;
    color: black;

}

.sub {
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    font-family: Purisa;
    width: 140px;
    height: 70px;
    background-color: azure;
    border-radius: 75%;
}

.c {
    text-align: center;
    font-size: 150px;
    background-color: darkslategrey;
    color: darkorange;
    font-weight: bold;
    font-family: Padauk Book;

}

.cal{
    text-align: center;
}